html {
  font-family: Georgia, serif;
  font-size: 1.125em;
  line-height: 1.333em;
}

#header{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: black;
  text-align: center;
  margin: auto;
}

header.homehead{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  margin: auto;
  background-color: #8FB2FF;
  padding-bottom: 1.333em;
}


h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #000066; /*navy blue*/ 
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 1.333em;
}

h2 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #000066; /*navy blue*/ 
  text-align: center;
  width: 50%;
  margin: auto;
}

div.font h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #000066; /*navy blue*/ 
  text-align: center;
  margin: auto;
}

section.extra h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #000066; /*navy blue*/ 
  text-align: center;
  margin: auto;
}

h3 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #000066; /*navy blue*/ 
  text-align: left;
  margin: auto;
  padding-top: 1.333em;
  padding-left: 2em;
}

div.font h3 {
  font-family: 'Times New Roman', Times, serif;
  color: #000066; /*navy blue*/ 
  text-align: left;
  margin: auto;
  padding-top: 1.333em;
  padding-left: 2em;
}

ul {
  font-size: 1.25em; 	
  line-height: 1.75em ;
  padding-left: 3em;
  padding-right: 1.225em; 
  color: black; 
}
ol {
  font-size: 0.844em; 	
  list-style-type: circle;
  line-height: 1em ;
  padding-bottom: 1.225em; 
  padding-left: 6em;  
}
ol li {
  font-size: 1.2em; 
  list-style-type: circle;
  line-height: 1em;
  padding-bottom: 1.225em;  
}

ul li {
  font-size: 0.844em; 
  list-style-type: square;
  line-height: 1.25em;
  color: blue; /*bright blue*/  
}
li {
  font-size: 0.844em; 
  list-style-type: none;
  padding-bottom: 0.222em;
}

section.extra li {
  color: #000066; /*navy blue*/ 
}

div.info ul li {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #000066; /*navy blue*/ 
  text-align: center;
  margin: auto;
  background-color: #8FB2FF; /*sky blue*/ 
  list-style-type: none;
}

#navigation ul,
#navigation li {
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.8em;
  background-color: #BDF0FF; /*light blue */
  list-style-type: none;
  width: 100%;
  overflow: hidden;
}

/* 
Additional Edits on Navigation
*/

#navigation ul{
  position: fixed;
  opacity: .9;
  text-align: center;
  overflow: hidden;
}

#navigation li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
}

#navigation li a:hover {
  background-color: blue;
}

body {
  background-color: #8FB2FF; /*sky blue*/ 
  background-size: 1800px 900px;
  background-repeat: repeat;
  margin:0;
}

body.homepg {
  background-image: url("../media/water.jpg");
  background-size: 1800px 900px;
  background-repeat: repeat;
  margin:0;
}

body.bkpg {
  background-color: #CCCCFF; /*lilac*/ 
  background-size: 1800px 900px;
  background-repeat: repeat;
  margin:0;
  text-align: center;
}

section.bkpg h3{
  color: #1E86EE; /*navy blue*/ 
  text-align: center;
  margin: auto;
  list-style-type: none;
}

section.bkpg li{
  color: #000066; /*navy blue*/ 
  text-align: center;
  margin: auto;
  list-style-type: none;
  font-family: 'Comic Sans MS', cursive, sans-serif;	
}

body.respg{
  background-size: 1800px 900px;
  background-repeat: repeat;
  margin:0;
}

section.first{
  margin: auto;
  padding-top: 5.666em;  
}

figure.imgs{
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
  margin-bottom: 25px;
  }

figcaption.pol{
  text-align: center;
  padding: 10px 20px;  
  border-style: ridge;
  border-width: 2px;
  background-color:#CFF2F7; /*beige*/
  margin-bottom: 1.333em;
}

img{
  width: 100%;
  display: block;
  text-align: center;
}

figcaption{
  font-family: 'Comic Sans MS', cursive, sans-serif;	
  text-align: center;
  padding: 10px 20px;  
  border-style: ridge;
  border-width: 2px;
  background-color:#82FFAB; /*aqua green*/
  margin-bottom: 1.333em;
}

video{
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;  
}

#footer{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  margin: auto;
}

#footer ul {
  width: 100%;
  background-color: #518adb; /*medium blue */
  list-style-type: none;
  opacity: .7;
}

#footer ul li {
  width: 100%;
  list-style-type: none;
}