html {
  font-family: Georgia, serif;
  font-size: 1.125em;
  line-height: 1.333em;
}

#header{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: black;
  text-align: left;
  margin: auto;
}

h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #000066; /*navy blue*/ 
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 1.333em;
}

#navigation ul,
#navigation li {
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.8em;
  background-color: #BDF0FF; /*light blue */
}

body {
  background-color: #8FB2FF; /*sky blue*/ 
  background-size: 1800px 900px;
  background-repeat: repeat;
  margin:0;
}

body.homepg {
  background-image: url("../media/water.jpg");
  background-size: 1800px 900px;
  background-repeat: repeat;
  margin:0;
}

body.bkpg {
  background-color: #CCCCFF; /*lilac*/ 
  background-size: 1800px 900px;
  background-repeat: repeat;
  margin:0;
}

body.respg{
  background-size: 1800px 900px;
  background-repeat: repeat;
  margin:0;
}

figure.imgs{
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
  margin-bottom: 25px;
  }

figcaption.pol{
  text-align: center;
  padding: 10px 20px;  
  border-style: ridge;
  border-width: 2px;
  background-color:#CFF2F7; /*beige*/
  margin-bottom: 1.333em;
}

img {
  width: 100%;
  display: block;
}